<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <%if(errMes){%>
                    <div class="user-message user-message--error">
                        <span><%=errMes%></span>
                    </div>
                    <%}%>
                        <form class="product-form" action="/admin/<%= editing ? 'edit-product' : 'add-product'%>" method="POST" enctype="multipart/form-data">
                            <div class="form-control">
                                <label for="title">Title</label>
                                <input type="text" class="<%=validationError.find(e=>e.param==='title') ? 'invalid' : ''%>" name="title" id="title" value="<%= editing || product ? product.title : ''%>">
                            </div>
                            <!-- <div class="form-control">
                                <label for="imageUrl">Image URL</label>
                                <input type="text" name="imageUrl" class="<%=validationError.find(e=>e.param==='imageUrl') ? 'invalid' : ''%>" id="imageUrl" value="<%= editing || product ? product.imageUrl : ''%>">
                            </div> -->
                            <div class="form-control">
                                <label for="image">Image</label>
                                <input type="file" name="image" id="image">
                            </div>
                            <div class="form-control">
                                <label for="price">Price</label>
                                <input type="number" name="price" class="<%=validationError.find(e=>e.param==='price') ? 'invalid' : ''%>" id="price" step="0.01" value="<%= editing || product ? product.price : ''%>">
                            </div>
                            <div class="form-control">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="<%=validationError.find(e=>e.param==='description') ? 'invalid' : ''%>" rows="5"><%= editing || product ? product.description: ''%></textarea>
                            </div>
                            <%if(editing){%>
                                <input type="hidden" value="<%=product._id%>" name="productId">
                                <%}%>
                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    <button class="btn" type="submit"> <%= editing ? 'Update Product' : 'Add Product' %> </button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>